.Header nav a{
    text-decoration: none;
    margin-right: 10px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold
}
.Header nav a:hover{
    color:blueviolet
}
.Header nav .active{
    color:red;
    border-bottom: 2px solid red;
}